<h3>Students</h3>
<% if term_registrations.any? %>
  <%= render "term_registrations/student_term_registrations_table", term_registrations: term_registrations %>
<% else %>
  <p>No students present.</p>
<% end %>