<%= simple_form_for [@commentable, Comment.new], remote: true do |f| %>
  <div class='row'>
    <div class='large-12'>
      <%= f.input :content, input_html: { rows: 5 }, placeholder: "Add a new Comment" %>
    </div>
  </div>

  <div class='row'>
    <div class='large-12 large-centered columns text-center'>
      <%= f.submit class: "button" %>
    </div>
  </div>
<% end %>
