<%= event_box(created) do |event| %>
  <div class='title'>
    <%= event.account.fullname %> <strong>wrote</strong> <%= event.name %> <strong>comment</strong> for <%= link_to event.commentable_type, polymorphic_path(event.commentable_index.first, id: event.commentable_index.second) %>.
  </div>
<% end %>
