<%= event_box(created) do |event| %>
  <div class='title'>
    <%= event.account.fullname %> <strong>wrote</strong> <%= indefinite_articlerize(event.name) %> <strong>comment</strong> for <%= comment_event_index(event) %>
  </div>
<% end %>
