<%= event_box(destroyed) do |event| %>
  <div class='title'>
    <%= event.account.fullname %> <strong>deleted</strong> <%= indefinite_articlerize(event.name) %> <strong>comment</strong> for <%= link_to event.subject_type, polymorphic_path(event.subject_type.underscore, id: event.subject_id) %>.
  </div>
<% end %>
