<div class="comments_list">
  <div class="internal radius panel">
    for <strong><%= submission_title(@commentable.submission) %></strong>
  </div>
  <% if @commentable.notes_comments.any? %>
    <%= render collection: @commentable.notes_comments, partial:'comment', as: :comment %>
  <% else %>
    <%= render partial:'comments/no_comments' %>
  <% end %>
</div>
