<div class="notes-list">
  <% if @notable.notes.any? %>
    <% @notable.notes.each do |note| %>
      <div class="panel">
        <strong><%= note.account.fullname %></strong> noteed:
        <p><%= note.content %></p>
      </div>
    <% end %>
  <% else %>
    <div class="panel">
      No Notes Yet
    </div>
  <% end %>
</div>
