<% title @exercise.title, "Results" %>

<%= render "exercises/sidebar" %>

<h4>You have reached <%= @submission.submission_evaluation.evaluation_result%> out of <%= pluralize @exercise.archievable_points, "point" %></h4>

<hr />

<%= grading_review_evaluations(@submission) %>
