<style type="text/css" media="screen">
#toolbar {
  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
  padding: 5px 10px !important;
  background-color: rgba(30,30,30,0.9) !important;
  color: white !important;
  z-index: 100000 !important;
  font-family: Helvetica Neue, Helvetica, sans-serif !important;
  font-size: 16px !important;
  text-align: right !important;
  opacity: 0.1 !important;
  width: auto !important;
}

#toolbar:hover {
  opacity: 1 !important;
}

#toolbar select {
  margin-left: 20px !important;
}

#toolbar a {
  color: white !important;
  margin-right: 20px !important;
  text-decoration: underline !important;
  background-color: none !important;
  font-weight: bold !important;
}

#toolbar a:after {
  display: none !important;
}
</style>

<style type="text/css" media="print">
#toolbar {
  display: none !important;
}
</style>