<% title @term_registration.student.fullname %>

<h1><%= @term_registration.student.fullname %> <small><%= @term_registration.student.matriculum_number %></small></h1>

<div class='panel'>
  This is still quite empty ;)
</div>


<p><%= link_to "Back", :back %></p>