html(<table class='small-12'>
<thead>
	<tr>
		<th colspan="2"><%= exercise.title %></th>
	</tr>
	<tr>
		<th>Student Group</th>
		<th>Upload Size</th>
	</tr>
</thead>
<tbody>
  <% term_student_groups.each do |sg|	%>
  	<tr>
  		<th><%= sg.title %></th>
  		<th><%= number_to_human_size exercise_submission_size(exercise, sg)%></th>	
  	</tr>	
  <% end %>
</tbody>
</table>)