<div class="<%= comment.name %> comment-content foldtr panel radius">
  <% if comment.markdown %>
    <%= format_markdown(comment.content) %>
  <% else %>
    <%= simple_format(comment.content) %>
  <% end %>
</div>
