<div class="<%= comment.name %> comment-content foldtr panel radius">
  <% if comment.markdown %>
    <%= markdown(comment.content) %>
  <% else %>
    <p>
      <%= comment.content %>
    </p>
  <% end %>
</div>
