<%= render "comment_fields", f: f, type: type %>

<div class='row'>
  <div class='large-12 large-centered columns text-center'>
    <%= f.submit class: "button" %>
    <%= link_to "Cancel", cancel_path, remote: true, class: "secondary button" %>
  </div>
</div>
