<%= simple_form_for [upcast(@commentable), @comment], method: :patch, remote: true do |f| %> 
  <div class='row'>
    <div class='large-12'>
      <%= f.input :content, input_html: { rows: 5 }, label: "Edit Comment" %>
    </div>
  </div>

  <div class='row'>
    <div class='large-12 large-centered columns text-center'>
      <%= f.submit class: "button" %>
      <%= link_to "Cancel", polymorphic_path([upcast(@commentable), @comment]), remote: true, class: "secondary button" %>
    </div>
  </div>
<% end %>
