<%= render "comment_fields", f: f %>
<%= f.hidden_field :name, value: type %>

<div class='row'>
	<div class='large-12 large-centered columns text-center'>
		<%= f.submit class: "button", id: dom_id(@commentable, 'comment_save') %>
	</div>
</div>
