<div id="<%= dom_id(comment) %>" class="comment">
  <%= render "comment_header", comment: comment, edit_path: edit_submission_evaluation_feedback_path(@commentable, comment), delete_path: submission_evaluation_feedback_path(@commentable, comment) %>
  <%= render "comment_content", comment: comment %>
</div>
