<div class="comments_list">
  <% if @commentable.feedback_comments.any? %>
    <%= render collection: @commentable.feedback_comments, partial:'comment', as: :comment %>
  <% else %>
    <%= render partial:'comments/no_comments' %>
  <% end %>
</div>
