<% if accounts.any? %>
  <table class='small-12'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Matriculation Number</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% accounts.each do |account| %>
        <tr>
          <td>
            <%= highlight_search account.fullname, search_terms %>
          </td>
          <td>
            <%= highlight_search account.matriculation_number, search_terms %>
          </td>
          <td>
            <%= highlight_search account.email, search_terms %>
          </td>
          <td class='text-right'>
            <%= link_to "select", '#', class: "tiny button", data: {account_id: account.id} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class='panel'>
    <h4>No matching accounts found</h4>
  </div>
<% end %>