<% event_type_service = EventTypeService.new %>

<%= form_tag(term_path(term), method: :patch, :id => "scope_form") do %> 
<hr>
	<div class="row"> 
		<% event_type_service.types.keys.each do |type_id| %>
			<div class="small-3 columns">
			    <label>
			    	<div class="scope">
				      <%= check_box_tag 'scopes[]', type_id, event_type_service.checked(params[:scopes], type_id) %>
		      		<%= type_id %>
		      	</div>	
			    </label>
			</div> 
		<% end %>
  </div>
<hr>
<% end %>
  