<table class='small-12 sortable'>
  <thead>
    <tr>
      <th>Term</th>
      <th class='text-right'>Total on File System</th>
    </tr>
  </thead>
  <tbody>
    <% terms.each do |term| %>
      <% sum = 0 %>
      <% term.exercises.each do |exercise| %>
        <% if exercise.submissions.any? %>
          <% stats = Exercise::SubmissionsDiskUsageStatistics.new(exercise).submissions_disk_usage %>
          <% sum += stats.sum %>
        <% end %>
      <% end %>
      <tr>
        <td data-sort='<%= term.title %>'><%= link_to term.title, term %></td>
        <td class='text-right'><%= filesize(sum) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
