<div class='description'>
  	<ul class='circle'>
    <% event.data[:student_group_member].each do |member| %>
      <li>
      	<%= link_to Account.find_by_id(TermRegistration.find_by_id(member).account_id).fullname, term_student_path(event.term_id, member) %>
      </li>
    <% end %>
  	</ul>
    
    <% if event.data[:removed].present? %>
      <strong>Removed:</strong>
      <ul>
      <% event.data[:removed].each do |member| %>
      <li>
        <%= link_to Account.find_by_id(TermRegistration.find_by_id(member).account_id).fullname, term_student_path(event.term_id, member) %>
      </li>
      <% end %>
      </ul>
    <% end %>

    <% if event.data[:added].present? %>
      <strong>Added:</strong>
      <ul>
      <% event.data[:added].each do |member| %>
      <li>
        <%= link_to Account.find_by_id(TermRegistration.find_by_id(member).account_id).fullname, term_student_path(event.term_id, member) %>
      </li>
      <% end %>
      </ul>
    <% end %>
  </div>
