<% title course_term_title, 'Import Students' %>

<%= render 'terms/sidebar', term: @term %>

<% if @term.imports.any? %>
  <%= render 'import_list' %>
<% end %>

<h2 class="subheader">Import Students from CSV</h2>
<%= render 'form' %>
