<% title "Import students into #{course_term_title}", "Mapping of data columns" %>

<%= render 'terms/edit_header' %>
<%= render 'terms/sidebar', term: @term %>

<div class='row'>
  <div class='large-12 columns'>
    <%= @import.mapping_table %>
  </div>
</div>
