<% if commentable.comments.any? %>
  <h4>Feedback</h4>
  <div>
    <% commentable.comments.each do |comment| %>
      <div class="panel radius">
        <strong><%= comment.account.fullname %></strong> commented:
        <p><%= comment.content.html_safe %></p>
      </div>
    <% end %>
  </div>
<% end %>
