<% if commentable.feedback_comments.any? %>
  <h4>Feedback for <%= @exercise.title %></h4>
  <div>
    <% commentable.feedback_comments.each do |comment| %>
      <%= comment_heading(comment) %>
      <div class="feedback foldtr panel radius">
        <p><%= markdown(comment.content) %></p>
      </div>
    <% end %>
  </div>
<% end %>
