<% if commentable.comments.any? %>
  <h4>Comments</h4>
  <div>
    <% commentable.comments.each do |comment| %>
      <div class="panel">
        <strong><%= comment.account.fullname %></strong> commented:
        <p><%= comment.content %></p>
      </div>
    <% end %>
  </div>
<% end %>
