<% if commentable.feedback_comments.any? %>
  <h4>Feedback</h4>
  <div>
    <% commentable.feedback_comments.each do |comment| %>
      <div class="panel radius">
        <strong><%= comment.account.fullname %></strong> commented:
        <p><%= markdown(comment.content) %></p>
      </div>
    <% end %>
  </div>
<% end %>
