<div class='nested-fields '>
  <div class='row'>
    <div class='small-5 columns'>
      <%= f.input :file, as: :file, label: submission_asset_file_label(@exercise) %>
    </div>
    <div class='small-6 columns'>
      <% if f.object.file.present? %>
        <p>
          <%= link_to foundation_icon(:download), submission_asset_path(f.object), class: "tiny button", target: "_blank" %>

          <%= File.basename f.object.file.to_s %>
        </p>
      <% end %>
    </div>
    <div class='small-1 columns right-aligned'>
      <%= link_to_remove_association foundation_icon(:x), f, class: "tiny alert button", data: {confirm: "Are you sure?"} %>
    </div>
  </div>
  <hr />
</div>
