<% title pluralize(@submission_count, "Submission"), @exercise.title %>

<%= render "exercises/sidebar" %>
<%= render "exercises/subnav", exercise: @exercise %>

<div class='tutorial-group-dropdown'>
  <% if policy(@exercise).tutorial_group_dropdown? %>
    <%= submissions_tutorial_group_dropdown(@tutorial_group) %>
  <% end %>
</div>

<%= render "submissions_list", submissions: @submissions, exercise: @exercise %>
