<% title @exercise.title, pluralize(@submission_count, "Submission") %>

<%= render "exercises/sidebar" %>

<div>
  <% if policy(@exercise).tutorial_group_dropdown? %>
    <%= submissions_tutorial_group_dropdown(@tutorial_group) %>
  <% end %>
</div>

<%= render "submissions_list", submissions: @submissions %>
