<% title @exercise.title, pluralize(@submission_count, "Submission") %>

<%= render "terms/sidebar", term: @term %>
<%= render "exercises/subnav", exercise: @exercise %>

<div class='tutorial-group-dropdown'>
  <%= submissions_tutorial_group_dropdown(@tutorial_group) %>
</div>

<%= render "submissions_list", submissions: @submissions, exercise: @exercise %>
