<% title 'Statistics', course_term_title %> 

<%= render 'terms/sidebar', term: @term %>

<% if @term.exercises.any? %>
  <%= render 'stat_table', exercises: @term.exercises %>
<% else %>
  <p>No exercises present.</p>
<%end %>
