<div class='panel'>
  Submission not modifiable:
  <% if !submission.exercise.enable_student_uploads? %>
    Uploads are not allowed for this exercise.
  <% elsif !submission.exercise.before_late_deadline? %>
    The deadline has passed.
  <% else %>
    Uploads are not allowed for this exercise.
  <% end %>
</div>
