<% title @exercise.title, pluralize(@submission_count, "Submission") %>

<%= render "exercises/sidebar" %>

<% if policy(@exercise).tutorial_group_dropdown? %>
<p>
  <%= submissions_tutorial_group_dropdown(@tutorial_group) %>
</p>
<% end %>

<%= render "submissions_list", submissions: @submissions %>


<p>
  <%= paginate @submissions %>
</p>