<% title @exercise.title, pluralize(@submission_count, "Submission") %>

<p>
  <%= submissions_tutorial_group_dropdown(@tutorial_group) %>
</p>

<%= render "submissions_list", submissions: @submissions %>


<p>
  <%= paginate @submissions %>
</p>