<% title course_term_title(current_term), "#{@submission.student.fullname} - #{@submission.exercise.title}" %>

<p>
  <% if @submission.submission_evaluation.present? %>
    <%= link_to "Update Evaluation", edit_submission_evaluation_path(@submission), class: "small button" %>
  <% else %>
    <%= link_to "Evaluate!", new_submission_evaluation_path(@submission), class: "small button" %>
  <% end %>
</p>

Submitted Files:
<ul class='circle'>
  <li>first.html</li>
  <li>styles.css</li>
  <li>hard coded files</li>
</ul>
