<% title @exercise.title, submission_subtitle(@submission) %>
<%= render "exercises/sidebar" %>


<% if @submission.submission_assets.any? %>
  <table id='submission_assets_list' class='large-12'>
    <thead>
      <th>Filename</th>
      <th>Submitted at</th>
      <th>Content Type</th>
      <th></th>
    </thead>
    <tbody>
      <%= render @submission.submission_assets %>
    </tbody>
  </table>
<% end %>
<%= render "form" %>
