<% title "Switch your context" %>

<% if @terms.any? %>
  <% if term_context? %>
    <%= link_to "Leave current context", context_path(current_term), :method => :delete, :class => "alert button" %>
  <% end %>

  <h1>Courses</h1>

  <% @grouped_terms.each do |course, terms| %>
    <h2><%= course.title %></h2>
  
    <table>
      <thead>
        <th>Term</th>
        <th></th>
      </thead>
      <tbody>
      <% terms.each do |term| %>
      <tr>
        <td><%= term.title %></td>
        <td>
          <% if current_term != term %>
            <%= link_to "Switch", context_path(term), :method => :put, :class => "tiny button" %>
          <% else %>
            Current
          <% end %>
        </td>
      </tr>
  
      <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <h1>There are no avaliable terms</h1>
  
  <div class='panel'>Please make sure, that there is at least one active term.</div>
<% end %>