<% title "Dev Notes" %>

<h1>Dev Notes</h1>

<p>Hier ist eine kurze Auflistung der Features, die noch beim Entwickeln aufgetaucht sind und der Changelog</p>

<h2>Feature-Proposals</h2>

<ul class='disc'>
  <li>Beim Hinzufügen von Studenten die Option "add to current term" einbauen</li>
</ul>

<h2>Fixmes</h2>

<ul class='disc'>
  <li>Dynamische Auswahl von Kursen (zur Zeit wird der erste Kurs in der DB genommen)</li>
</ul>

<h2>Change-Log</h2>


<section>
  <h3>23.12.2012</h3>
  <ul class='disc'>
    <li>Context-Switching für Kurse/Semester</li>
    <li>Suche in Students und TermRegistrations</li>
  </ul>
</section>


<section>
  <h3>22.12.2012</h3>
  <ul class='disc'>
    <li>Ansichten für Studenten &amp; Registrierungen</li>
  </ul>
</section>

<section>
  <h3>21.12.2012</h3>
  <ul class='disc'>
    <li>Import von Studenten</li>
  </ul>
</section>
