<% title "Welcome to Sapphire" %>

<div class='panel'>
  Please visit <%= link_to "DevNotes", static_path(:dev_notes) %> to see the latest changes
</div>

<div class='row'>
  <div class='large-12 large-centered columns text-center'>
    <%= link_to "Courses", courses_path, class: 'big button' %>
    <%= link_to "Accounts", accounts_path, class: 'big button' %>
  </div>
</div>