<ul class='tree-path'>
  <% tree.ancestors.each do |entry| %>
    <li>
      <%= link_to entry.name, tree_exercise_student_submission_path(exercise, path: entry.path_without_root) %>
    </li>
  <% end %>
  <li>
    <%= tree.name %>
  </li>
</ul>
