<% title "#{set_tutor_label} for #{@tutorial_group.title}"  %>

<% if ! @tutorial_group.tutor.blank? %>
  <p>
    Current Tutor: <%= @tutorial_group.tutor.fullname %>
    <%= link_to "Clear", course_term_tutorial_group_clear_tutor_registration_path(current_course, current_term, @tutorial_group), class: "small alert button", method: :delete, confirm: "Are you sure?" %>
    <%= link_to "Cancel", course_term_tutorial_group_path(current_course, current_term, @tutorial_group), class: "small button" %>
  </p>
<% end %>

<% @create_path = course_term_tutorial_group_create_tutor_registration_path(current_course, current_term, @tutorial_group) %>

<%= render 'accounts/accounts_list', { buttons_partial_view: 'account_selection_buttons', search_path: course_term_tutorial_group_new_tutor_registration_path(current_course, current_term, @tutorial_group) } %>
