<% title course_term_title, 'Submissions Statistics' %> 

<%= render 'terms/sidebar', term: @term %>

<% if @exercises_statistics.any? %>
  <%= render 'statistics_table', exercises_statistics: @exercises_statistics %>
<% else %>
  <p>No exercises present.</p>
<%end %>
