<% title course_term_title, 'Submissions Statistics' %> 

<%= render 'terms/sidebar', term: @term %>

<% if @submission_disk_usages.any? %>
  <%= render 'statistics_table', submission_disk_usages: @submission_disk_usages %>
<% else %>
  <p>No exercises present.</p>
<%end %>
