<%= simple_form_for @course, remote: request.format.js? do |f| %>
  <%= f.input :title %>
  <%= f.input :description, input_html: { rows: 3 } %>

  <div class='row'>
    <div class='large-12 large-centered columns text-center'>
      <%= f.submit class: "button" %>
    </div>
  </div>
<% end %>
