<% title "Courses" %>

<div class='large-6 large-centered columns grid-center'>
  <div class='row'>
    <div id='course_index_entries' class='small-12'>
      <p class='index_entry_none course <%= 'hide' if @courses.any? %>'>
        No courses present.
      </p>

      <% if @courses.any? %>
        <% @courses.each do |course| %>
          <%= render 'index_entry', course: course, terms: @terms_by_course[course] %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if policy(Course).create?  %>
    <div class="row">
      <div class="small-12 large-centered text-center">
        <%= link_to "Add Course", new_course_path, remote: true, class: "small button", data: {"reveal-id" => "reveal_modal"} %>
      </div>
    </div>
  <% end %>

  <%= render 'application/reveal_modal' %>
</div>

