<% title "Courses" %>

<div class='large-6 large-centered columns grid-center'>
  <div class='row'>
    <div id='course_index_entries' class='large-12'>
      <p class='index_entry_none course <%= 'hide' if @courses.any? %>'>
        No courses present.
      </p>

      <% if @courses.any? %>
        <%= render collection: @courses, partial: 'courses/index_entry', as: :course %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 large-centered text-center">
      <%= link_to "Add Course", new_course_path, remote: true, class: "small button", data: {"reveal-id" => "reveal_modal"} %>
    </div>
  </div>
</div>

<%= render 'application/reveal_modal' %>
