<div class="comments_list">
  <h3><%= @commentable.rating.title %></h3>
  <% if @commentable.explanations_comments.any? %>
    <%= render collection: @commentable.explanations_comments, partial:'comment', as: :comment %>
  <% else %>
    <%= render partial:'comments/no_comments' %>
  <% end %>
</div>
