.foldtr {
  position: relative;
  -webkit-box-shadow: -3px 3px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: -3px 3px 3px rgba(0,0,0,0.2);
  box-shadow: -3px 3px 3px rgba(0,0,0,0.2);
}

.foldtr:before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-bottom: 2em solid transparent;
  border-right: 2em solid transparent;
  -webkit-box-shadow: -4px 4px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: -4px 4px 4px rgba(0,0,0,0.2);
  box-shadow: -4px 4px 4px rgba(0,0,0,0.2);
}

.foldtr:after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-top: 2em solid #ffffff;
  border-left: 2em solid transparent;
}
