.internal_notes {
  background: #ff96c3;
  border: 0px;
}
textarea.internal_notes:focus {
  background: #ffa4cb;
  border: 0px;
}

textarea.internal_notes {
  background: #ffa4cb;
  border: 0px;
}

.internal.button {
  border-color: #851f4a;
  background: #e7689e;
}

.internal.button:hover {
  background: #cb5b8b;
}
