.internal_notes {
  background: #fc9fc7;
  border: 0px;
}
textarea.internal_notes, textarea.internal_notes:focus {
  background: #ffb3d3;
  border: 0px;
}

.internal.button {
  color: black;
  border-color: #cb5b8b;
  background: #f285b4;
}

.internal.button:hover {
  background: #cb5b8b;
}
