th[data-behaviour=sortable] {
  user-select: none;
  white-space: nowrap;
  span.sortable-icon {
    display: inline-block;
    transform-origin: 50% 60%;
    transition: transform 0.2s, opacity 0.2s;

    opacity: 1;

    &.hidden {
      opacity: 0;
    }

    &.desc {
      transform: rotate(180deg);
    }
  }
}