<div id="grading_scale">
  <table class='small-12' id='grading_scale_table'>
    <thead>
      <th class='text-center'>Grade</th>
      <th class='text-center'>Positive</th>
      <th colspan=3 class='text-center'>Points</th>
    </thead>
    <tbody>
      <%= render collection: @grading_scales, partial:'index_entry', as: :grading_scale %>
    </tbody>
  </table>
</div>
