.hidden {
  display: none;
}

.comment_entry_icons {
  float: right;
}

.annotate {
  color: black;
  background: #ffffca;
  border-color: #9ea01f;
}

.annotate:hover {
  color: black;
  background: #f5f5b3;
}

.feedback, .explanations {
  color: black;
  background: #ffffca;
  border:0px;
}

textarea.feedback, textarea.explanations, textarea.feedback:focus, textarea.explanations:focus {
  color: black;
  background: #ffffdc;
  border:0px;
}
