.hidden {
  display: none;
}

.comment_entry_icons {
  float: right;
}

.annotate {
  color: black;
  background: #ffffca;
  border-color: #9ea01f;
}

.feedback, .explanations {
  color: black;
  background: #ffffca;
  border-color: #ffffaa;
}
