

.event {
  .time {
    float: right;
    color: #787878;
    font-size: 0.8em;
    padding: 0 0 0.5em 1em;
  }

  &:hover  {
    .description {
      .backdrop {
        .button {
          visibility: visible;
        }
      }
    }
  }

  .description {
    font-size: 0.9em;
    padding: 1em 1.5em 0 1.5em;
    width: 100%;

    &.collapsable {
      overflow: hidden;
      position: relative;
    }

    ul {
      margin-left: 1.2em;
    }

    &.expanded {
      .backdrop {
        background: none;
      }
    }

    .backdrop {
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);

      width: 100%;
      height: 1.3em;
      position: absolute;
      bottom: -1px;
      left: 0;

      .button {
        visibility: hidden;

        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 0;
      }
    }
  }
}
