// Place all the styles related to the submission_evaluation_table controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "config";

#exercise_evaluations_table_container {
  //overflow: scroll;
//  border: {
//    width: 0px;
//    style: solid;
//    color: $hr-border-color;
//    left-width: 1px;
//    right-width: 1px;
//  }
//
  table {
    margin-bottom: 0;
  }
}

.exercise-evaluations-table {
  margin-bottom: 0px;

  .rating-group-separator {
    td, th {
      background-color: #DBD5F1;
    }
  }


//  .submission-evaluation-state-present {
//
//  }
//
//  .submission-evaluation-state-not-evaluated {
//    background-color: #A6FEAE;
//  }
//
//  .submission-evaluation-state-missing {
//    background-color: #DADADA;
//  }
}

.rating_group_seperator {
  height: 4em;
}
