// Place all the styles related to the submission_evaluation_table controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "config";

#exercise_evaluations_table_container {
  table {
    margin-bottom: 0;
  }
}

.exercise-evaluations-table {
  margin-bottom: 0px;

  .rating-group-separator {
    td, th {
      background-color: #DBD5F1;
    }
  }
}

.rating_group_seperator {
  height: 4em;
}
