// Place all the styles related to the staff controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#term_staff_search_results {
  max-height: 160px;
  overflow: scroll;

  table {
    margin-bottom: 0px;
  }
}