<div class='reveal-modal' id='upload-modal'>
  <h1>Upload New Files</h1>

  <%= render "submission_uploads/form", submission_upload: submission_upload %>

  <%= link_to foundation_icon(:x), '#', class: "close-reveal-modal" %>
</div>
