<%= link_to title, '#', data: {dropdown: dropdown_identifier}, class: "small dropdown button" %>

<%= content_tag(:ul, id: dropdown_identifier, class: dropdown_classes) do %>
  <% links.each do |link| %>
    <li><%= link %></li>
  <% end %>
<% end %>

