<div class='row'>
  <div class='large-9 large-centered grid-center text-center'>
    <% flash.each do |key, value| %>
      <div data-alert class='<%= flash_class_for(key) %>'>
        <span><%= value %></span>
        <a href="#" class="close">×</a>
      </div>
    <% end %>
  </div>
</div>