<li class='<%= "has-dropdown" if terms.any? %>'>
  <%= link_to current_course_term_title, context_index_path %>
  
  <% if terms.any? %>
    <ul class='dropdown'>
      <li><label>Choose another course</label></li>
      <% terms.each do |term| %>
        <li><%= link_to(course_term_title(term.course, term), context_path(term), :method => :put).html_safe %></li>
      <% end %>
    </ul>
  <% end %>
</li>
