<ul class='left'>
  <li class='divider'></li>

  <%= render 'course_term_navigation' %>

  <% if current_account.admin? %>
    <li>
      <%= link_to "Accounts", accounts_path %>
    </li>
    <li>
      <%= link_to "System", accounts_path %>
    </li>
  <% end %>
</ul>
