<ul class='left'>
  <li class='divider'></li>
  <li>
    <%= link_to "Courses", courses_path %>
  </li>
  <li>
    <%= link_to "Students", students_path %>
  </li>
  <li>
    <%= link_to "Tutors", '#' %>
  </li>
</ul>