<%= title("Error 404", "Page not found") %>

<p>
  The page, you've requested could not be found. Please check the URL for any
  typos. You might also want to report this error by sending an email to
  <%= mail_to "sapphire@iicm.edu" %>.
</p>

<p>
  <%= link_to "Back", :back %>
</p>
