<tr class='nested-fields'>
  <td class='small-6'><%= f.input :title %></td>
  <td class='small-5'><%= f.input :date, as: :datetime_picker %></td>
  <td class='small-1'><%= link_to_remove_association "x", f, class: "small alert button" %></td>
</tr>