
<div class='row'>
<% if @exercise.description? %>
  <%= simple_format @exercise.description %>
<% end %>

<h2>Rating Groups</h2>
<div id='rating_group_index_entries'>
  <p class='index_entry_none rating_group <%= 'hide' if @exercise.rating_groups.any? %>'>
    No rating groups present.
  </p>

  <% if @exercise.rating_groups.any? %>
    <%= render collection: @exercise.rating_groups.rank(:row_order), partial: 'rating_groups/index_entry', as: :rating_group %>
  <% end %>
</div>

<div class="row">
  <div class="large-12 large-centered columns text-center">
    <%= link_to "Add Rating Group", new_exercise_rating_group_path(@exercise), remote: true, class: "small button", data: {"reveal-id" => "reveal_modal"} %>
  </div>
</div>

</div>