<% title "Listing all accounts" %>

<p>
  <%= link_to "Add account", new_account_registration_path, :class => 'tiny button' %>
</p>

<%= render 'accounts_list', { buttons_partial_view: 'account_index_buttons', search_path: accounts_path } %>
