<% title "#{@account.fullname}", "#{@account.matriculum_number}" %>

<% sidebar do %>
  <%= link_to "Edit", edit_account_path(@account), class: "small button" %>
<% end %>

<div class="section-container tabs" data-section="tabs">
  <section>
    <p class="title" data-section-title><a href="#">Overview</a></p>
    <div class="content" data-section-content>
      TODO something
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Registrations</a></p>
    <div class="content" data-section-content>
      <% if @registrations.any? %>
        <p>TODO something</p>
      <% else %>
        <p>Student hasn't attended in any courses</p>
      <% end %>
    </div>
  </section>
</div>

<p><%= link_to "Back", accounts_path, class: "tiny button" %></p>